.content {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin-top: 15px;
}

.progress-mission,
.progress-rocket {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.progress-mission li,
.item {
  list-style: none;
  background: whitesmoke;
  font-weight: bolder;
  padding: 2rem;
  width: 200px;
}
