.navbar {
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 10px darkgray;
}

.logo-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo-content p {
  font-size: 1.5rem;
  font-weight: bolder;
}

.logo {
  width: 100px;
}

a {
  text-decoration: none;
}

.active {
  font-weight: 900;
  text-decoration: underline;
}

.logo img {
  width: 100%;
}

.navlink {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
