* {
  margin: 0;
  padding: 0;
}

button {
  padding: 8px;
  cursor: pointer;
}

.nav-bar {
  display: flex;
  margin: 60px;
  justify-content: space-between;
}

.rocket-list-item {
  display: flex;
  margin: 10px 40px 30px 40px;
  align-items: flex-end;
  gap: 20px;
}

.rocket-image {
  width: 20%;
}

.rocket-info {
  gap: 10px;
}

.rocket-info h2 {
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
}

.rocket-badge {
  background-color: #4ec1ba;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: smaller;
  padding: 4px;
}